.DS_Store
node_modules
/dist
dll
test/module/node_modules
test/module/dist
test/treeShaking/node_modules
test/treeShaking/dist
test/vue-test/node_modules
test/vue-test/dist
test/libraryTest/node_modules
test/libraryTest/dist
test/createLoader/node_modules
test/createLoader/dist
test/createPlugin/node_modules
test/createPlugin/dist

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?