body {
    background-color: pink;
}

html {
    background-color: pink;
}

.name {
    color: blue;
}

.transform-rotate {
    width: 100px;
    height: 100px;
    transform: rotate(45deg);
    background-color: red;
}